<header>
    <nav id="nav">
        <h1>NORDIC ROSE</h1>
        <ul>
            <li><a href="/">BLOG</a></li>
            <li><a href="/newarticle">NEW ARTICLE</a></li>
        </ul>
    </nav>
</header> 