<header>
    <nav id="nav2">
        <h1>NORDIC ROSE</h1>
        <ul>
            <li><a href="/">ALL</a></li>
            <li><a href="/newarticle">NEW ARTICLE</a></li>
        </ul>
    </nav>
</header> 